<%- include('../fragments/header'); -%>
  <div class="container main-content">
    <% if (message) { %>
      <p><strong><%= message %></strong></p>
    <% } %>

    <%- include('../fragments/tos-modal'); -%>
    <%- include('../fragments/privacy-modal'); -%>

    <div id="login">
      <form class="form-signin" method="POST" action="/login">
        <%- include('../fragments/login'); -%>
      </form>
    </div>
  </div>
  <script>
    $('a[href$="#tosModal"]').on( "click", function() {
      $('#tosModal').modal('show');
    });
    $('a[href$="#privacyModal"]').on( "click", function() {
      $('#privacyModal').modal('show');
    });
  </script>
  <!-- Translate Bar Start
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
  </script>

  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  Translate Bar End -->
<%- include('../fragments/footer'); -%>