<%- include('../fragments/header'); -%>
  <div class="container main-content">
    <h1 class="h3 mb-3 font-weight-normal">Connect with <%= application.title %></h1>
    <form action="/auth/finish" method="post">
        <input name="transaction_id" value="<%= transaction_id %>" hidden>
        <input name="response_type" value="<%= response_type %>" hidden>
        <input name="client_id" value="<%= application.oauth_id %>" hidden>
        <input name="auth_url" value="<%= decodeURIComponent(currentURL) %>" hidden>
        <input name="scope" value="<%= scopes.join(',') %>" hidden>
        <div>
            <p>Select flag to translate:</p>
            <!-- <img src="/static/images/blank.gif" class="flag flag-au" alt="Australia" role="button" onclick="gTranslate('en')" />-->
            <!--<img src="/static/images/blank.gif" class="flag flag-ca" alt="Canada" role="button" onclick="gTranslate('en')" />-->
            <img src="/static/images/blank.gif" class="flag flag-fr" alt="France" role="button" onclick="gTranslate('fr')" />
            <img src="/static/images/blank.gif" class="flag flag-de" alt="Germany" role="button" onclick="gTranslate('de')" />
            <!--<img src="/static/images/blank.gif" class="flag flag-in" alt="India" role="button" onclick="gTranslate('en')" />-->
            <img src="/static/images/blank.gif" class="flag flag-jp" alt="Japan" role="button" onclick="gTranslate('ja')" />
            <img src="/static/images/blank.gif" class="flag flag-mx" alt="Mexico" role="button" onclick="gTranslate('es')" />
            <img src="/static/images/blank.gif" class="flag flag-it" alt="Italy" role="button" onclick="gTranslate('it')" />
            <img src="/static/images/blank.gif" class="flag flag-es" alt="Spain" role="button" onclick="gTranslate('es')" />
            <!--<img src="/static/images/blank.gif" class="flag flag-gb" alt="United Kingdom" role="button" onclick="gTranslate('en')" />-->
            <img src="/static/images/blank.gif" class="flag flag-us" alt="United States of America" role="button" onclick="gTranslate('en')" />
        </div>
        <hr>
        <div>
            <p>To use this service you need to:</p>
            <ul class="list-unstyled">
                <li><img class="octicon octicon-shield" src="/static/octicons/shield-16.svg"></img> Create an <a href='/new-user'> account.</a></li>
                <li><img class="octicon octicon-checklist" src="/static/octicons/checklist-16.svg"></img> Define one or more <a href='/devices'>devices.</a></li>
                <li><img class="octicon octicon-checklist" src="/static/octicons/cloud-download-16.svg"></img> <a href="#install-node-red-nodes">Install the associated <span translate="no">Node-RED</span> nodes.</a></li>
                <li><img class="octicon octicon-repo-forked" src="/static/octicons/repo-forked-16.svg"></img> <a href="#example-flows-and-node-outputs"> Setup <span translate="no">Node-RED</span> flows</a> using your devices.</li>
            </ul>
            <hr>
            <!-- <p><%= application.title %> is requesting permission to:</p>
            <ul>
                <% scopes.forEach(function(i){ %>
                    <li><%= map[i] %></li>
                <% });%>
            </ul> -->
            <% if (user) { %>
                <p>Click <em>Authorise</em> to allow <%= application.title %> permission to control your devices.</p>
            <% } else { %>
                <p>Please sign-in using your <a href='/'><span translate="no"><%= brand %></span></a> account.</p>
                <p>By linking your account you are giving <%= application.title %> permission to control your devices.</p>
            <% } %>
        <div>

        <% if (user) { %>
            <% if (errors) { %>
              <p style="color: red"><%= errors %></p>
            <% } %>
            <div class="form-group">
                <p>Signed in as <strong><%= user.name%></strong>.</p>
                <a href="/logout?next=<%= currentURL %>">Not </a><%= user.username %>?
                <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Authorise">
            </div>
        <% } else { %>
            <% if (errors) { %>
              <p style="color: red"><%= errors %></p>
            <% } %>
            <div class="form-group">
                <!-- <label for="username">Username: </label>
                <input type="text" id="username" name="username"/>-->
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" autocapitalize="none" autocomplete="username" placeholder="Username" required autofocus>
                <small id="usernameHelpBlock" class="form-text text-muted">Note username is case sensitive.</small>
            </div>
            <div>
               <!--<label for="password">Password: </label>
                <input type="password" id="password" name="password">-->
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
            </div>
            <div>
                <br>
                <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Authorise">
            </div>
        <% } %>

    </form>
  </div>
  <script>
    function gTranslate(language) {
        //var language = document.getElementById("language").value;
        var selectField = document.querySelector("#google_translate_element select");
        for(var i=0; i < selectField.children.length; i++){
            var option = selectField.children[i];
            // find desired langauge and change the former language of the hidden selection-field
            if(option.value==language){
                selectField.selectedIndex = i;
                // trigger change event afterwards to make google-lib translate this side
                selectField.dispatchEvent(new Event('change'));
                break;
            }
        }
    }
  </script>
<%- include('../fragments/footer'); -%>