<%- include('../fragments/header'); -%>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>Google Assistant support now available for testing!</strong> See <a href='/docs#account-linking'>here</a> for more information.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <%- include('../fragments/tos-modal'); -%>
  <%- include('../fragments/privacy-modal'); -%>

  <div class="container main-content">
      <form class="form-register" id="form-register">
        <%- include('../fragments/register'); -%>
      </form>
      <script type="application/javascript">
        // Load CountrySelect
        $("#country").countrySelect();

        $('a[href$="#tosModal"]').on( "click", function() {
          $('#tosModal').modal('show');
        });
        $('a[href$="#privacyModal"]').on( "click", function() {
          $('#privacyModal').modal('show');
        });

        $("#form-register").submit(function(e) {
          e.preventDefault();
          // Username validation built-into input box
          var username = $('#username').val().trim().toLowerCase();
          var password = $('#password').val().trim();
          var email = $('#email').val().trim();
          var country = $("#country_code").val().trim();

          // Build Submit Paramaters
          var params = "username=" + encodeURIComponent(username)
          + "&password=" + encodeURIComponent(password)
          + "&email=" + encodeURIComponent(email)
          + "&country=" + encodeURIComponent(country);

          // Post update
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/new-user',true);
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function () {
            if( xhr.readyState == 4 && xhr.status == 201) {
              console.log("Created new user")
              //new user created, flash that a verification email has been sent
              alert(xhr.responseText);
              window.location.href = "/";
            }
            else if (xhr.readyState == 4 && (xhr.status == 400 || xhr.status == 409 || xhr.status == 500)) {
              alert("Failed to create user account, response: " + xhr.responseText);
            }
          }
          xhr.send(params);

        });

      </script>
  </div>
<%- include('../fragments/footer'); -%>