<%- include('../fragments/header'); -%>
	<div class="container main-content">
		<h1>User Devices</h1>
		<h3>Total Count: <%= devicecount %></h3>
		<table id="tblDevices" class="table table-responsive table-sm table-striped" style="display:none">
			<thead>
				<tr>
				  <th scope="col">EndpointId</th>
				  <th scope="col">Username</th>
				  <th scope="col">Friendly Name</th>
				  <th scope="col">Capabilities</th>
                  <th scope="col">Type</th>
                  <th scope="col">Report State</th>
                  <th scope="col">State</th>
                  <!--<th scope="col">Edit</th>-->
				  <th scope="col">Manage</th>
				</tr>
			</thead>
			<tbody>
				<% devices.forEach(function(device){ %>
					<tr>
						<th scope="row"><%= device.endpointId %></th>
						<td><%= device.username %></td>
						<td><%= device.friendlyName %></td>
                        <td>
							<ul class="list-unstyled">
								<% device.capabilities.forEach(function(capability){ %>
									<li><%= capability %></li>
								<% }); %>
							</ul>
                        </td>
                        <td>
							<ul class="list-unstyled">
								<% device.displayCategories.forEach(function(category){ %>
									<li><%= category %></li>
								<% }); %>
							</ul>
                        </td>
                        <td><%= device.reportState %></td>
						<td><button type="button" class="btn btn-secondary" onclick="viewState('<%= device._id %>')">State</button></td>
						<!--<td><button type="button" class="btn btn-secondary" onclick="editDevice('<%= device._id %>')">Edit</button></td>-->
                        <td><button type="button" class="btn btn-danger" onclick="deleteDevice('<%= device._id %>')">Delete</button></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</div>

	<!-- State Modal -->
	<div class="modal fade" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="stateModalTitle">Device State</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
						<label for="state">State: </label>
						<br>
						<textarea id="state" class="form-control" disabled></textarea>
				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- State Modal End -->

	<script type="application/javascript">

	$(document).ready(function() {
		$("#tblDevices").show();
	});

	function clearStateModal() {
		$('#state').val("");
	}

	function viewState(id) {
		clearStateModal()
		var device = devices[id];
		$('#state').val(JSON.stringify(device.state));
		$("#stateModal").modal('show');
	}

	// Not used at present
	function saveDevice(id) {
		var device = devices[id];
	}

	// Currently not used, do we want to edit devices centrally? Duplicate lots of devices.ejs page here if so
	function editDevice(id) {
		clearModal()
		var device = devices[id];
		//
	}

	function deleteDevice(id) {
		var answer = confirm("Are you sure you want to delete this device?");
		if(answer) {
			$.ajax({
				url:"/device/" + id,
				type: 'DELETE',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	var devices = {};
	<%- JSON.stringify(devices) %>.forEach(function(device){
		devices[device._id] = device;
	});
	</script>
<%- include('../fragments/footer'); -%>