<html>
<head></head>
<body>
<p>Hello</p>

<p>A request was recently made to reset the password for your <%= brand %> account.</p>

<p>Your username is <%= username %>.<p>

<p>Follow this link to reset your password</p>

<a href="https://<%= fqdn %>/change-password/<%= uuid %>" rel="nofollow">https://<%= fqdn %>/change-password/<%= uuid %></a>

<p>This link will only be valid for the next 24hrs and will only work once.</p>
</body>
</html>