<html>
<head></head>
<body>
<p>Thanks for registering with <%= brand %>.

<p>Your username is: <%= username %>.</p>

<p>You need to verify your email address in order to use the service.</p>

<p>Follow <a href="https://<%= fqdn %>/verify/<%= token %>" rel="nofollow">https://<%= fqdn %>/verify/<%= token %></a> to verify you account. This link will only be valid for the next 12 hours and will only work once.</p>

<p>Too late? Browse to <a href="https://<%= fqdn %>/verify-resend" rel="nofollow">https://<%= fqdn %>/verify-resend</a> to generate a new token.</p>


</body>
</html>