<% include ../fragments/header.ejs %>
	<div class="container main-content">
		<h1>Devices</h1>
		<div class="deviceHeader">
			<div style="width:200px; float:left" ><strong>Name</strong></div>
			<div style="width:400px; float:left"><strong>Description</strong></div>
			<div class="deviceCapabilities"><strong>Capabilities</strong></div>
		</div>
		<% devices.forEach(function(device){ %>
		<div class="deviceRow">
			<div class="device">
			<div class="deviceName"><%= device.friendlyName %></div>
			<div class="deviceDescription"><%= device.description %></div>
			<div class="deviceActions">
				<% device.capabilities.forEach(function(action){ %>
					<img class="action" src="/images/<%= action %>.png" title="<%= action %>">
				<% }); %>
			</div>
			</div>
			<div>
			<button onclick="edit('<%= device._id %>')">Edit</button>
			<button onclick="deleteDevice('<%= device._id%>')">Delete</button>
			</div>
		</div>
		<% }); %>
		<div style="padding-top: 10px;">
			<button onclick="addDevice();">Add Device</button>
		</div>
		<p>After making any changes remember to ask Alexa to update devices it knows about by saying 
      "Alexa, discover devices"</p>
	</div>

	<div id="dialog" hidden>
		<input id="devID" type="hidden">
		<label for="friendlyName">Name: </label>
		<input id="friendlyName" type="text">
		<label for="description">Description: </label>
		<br>
		<textarea id="description" rows="2" style="width: 95%"></textarea>
		<fieldset>
			<legend>Capabilities</legend>
			<fieldset class="action" id="capabilityType">
				<label for="PlaybackController"> Playback Control </label>
				<input title="Playback Control" type="checkbox" name="capabilities" id="PlaybackController" value="PlaybackController" onclick='checkCapability(this)'>
				<br />
				<label for="PowerController"> Power Control </label>
				<input title="Power Control" type="checkbox" name="capabilities" id="PowerController" value="PowerController" onclick='checkCapability(this)'>
				<br />
				<label for="SceneController"> Scene Control</label>
				<input title="Scene Control" type="checkbox" name="capabilities" id="SceneController" value="SceneController" onclick='checkCapability(this)'>
				<br />
				<label for="StepSpeaker"> Speaker Control </label>
				<input title="Step Speaker Control" type="checkbox" name="capabilities" id="StepSpeaker" value="StepSpeaker" onclick='checkCapability(this)'>
			</fieldset>
			<!-- -->
		</fieldset>
		<fieldset>
			<legend>Alexa App Icon</legend>
			<fieldset class="action" id="applicationType">
				<label for="ACTIVITY_TRIGGER">Activity/ Scene: </label>
				<input type="checkbox" id="ACTIVITY_TRIGGER" name="appType" value="ACTIVITY_TRIGGER" disabled="true">
				<br />
				<label for="SWITCH">Smart Switch: </label>
				<input type="checkbox" id="SWITCH" name="appType" value="SWITCH" disabled="true">
				<br />
				<label for="SPEAKER">Speaker: </label>
				<input type="checkbox" id="SPEAKER" name="appType" value="SPEAKER" disabled="true">
				<br />
				<label for="TV">TV: </label>
				<input type="checkbox" id="TV" name="appType" value="TV" disabled="true">
			</fieldset>
		</fieldset>
	</div>
	
	<script>
	$( "#dialog" ).dialog({
		autoOpen: false,
		dragable: false,
		modal: true,
		position: {
			my: "center",
			at: "center",
			of: window,
			using: function( pos ) {
				$(this).css("top", '55px');
				$(this).css("left", pos.left);
	        }
		},
		title: "Add New Device",
		dialogClass: "no-close",
		buttons: [
			{
				text: "OK",
				click: function(){
					var devID = $('#devID').val();
					if ( devID === "") {
						var device = {
							capabilities: [],
							displayCategories: []
						};
						device.friendlyName = $('#friendlyName').val();
						device.description = $('#description').val();
						$('input[name=capabilities]').each(function(index){
							if (this.checked) {
								device.capabilities.push(this.value);
							}
						});
						$('input[name=appType]').each(function(index){
							if (this.checked) {
								device.displayCategories.push(this.value);
							}
						});
						console.log(device);
						if (device.friendlyName && device.description && device.capabilities.length > 0) {
							$.ajax({
								url:"/devices",
								type: 'PUT',
								data: JSON.stringify(device),
								contentType: "application/json",
								success: function(data){
									console.log("put response");
									console.log(data);
									//reload
									document.location.reload();
								},
								dataType   : 'json'
							}).fail(function(){
								alert("failed to create device");
							});
							$(this).dialog( "close" );
						} else {
							alert("Name or desciption can not be empty and at least one action is needed");
						}
					} else {
						var device = devices[devID];
						device.description = $('#description').val();
						device.capabilities = [];
						$('input[name=capabilities]').each(function(index){
							if (this.checked) {
								device.capabilities.push(this.value);
							}
						});
						device.displayCategories = [];
						$('input[name=appType]').each(function(index){
							if (this.checked) {
								device.displayCategories.push(this.value);
							}
						});
						if (device.friendlyName && 
							device.description && 
							device.capabilities.length > 0) {
							//post update
							$.ajax({
								url: '/device/' + device._id,
								type: 'POST',
								data: JSON.stringify(device),
								contentType: "application/json",
								success: function(data){
									console.log("post response");
									console.log(data);
									//reload
									document.location.reload();
								},
							});
							console.log(device);
							$(this).dialog("close");
						} else {
							alert("Name or desciption can not be empty and at least one action is needed");
						}
					}
				}				
			},
			{
				text: "Cancel",
				click: function() {
					clearDevice();
					$(this).dialog( "close" );
				}
			}
		]
	});

	function addDevice() {
		clearDevice();
		checkCapability();
		$("#dialog").dialog("open");
	}

	function clearDevice() {
		$('#devID').val("");
		$('#friendlyName').val("");
		$('#friendlyName').prop('readonly', false);
		$('#description').val("");
		$('input[name=capabilities]').each(function(index){
			this.checked = false;
		});
		$('input[name=appType]').each(function(index) {
		  this.checked = false;
		});
	}

	function edit(id) {
		clearDevice();
		$("#dialog").dialog("open");
		var device = devices[id];
		$('#devID').val(device._id);
		$('#friendlyName').val(device.friendlyName);
		$('#friendlyName').prop('readonly', true);
		$('#description').val(device.description);
		device.capabilities.forEach(function(action){
			$('#' + action).prop('checked',true);
		});
		device.displayCategories.forEach(function(type){
			$('#' + type).prop('checked',true);
		});
		checkCapability();
	}

	function deleteDevice(id) {
		var answer = confirm("Are you sure you want to delete this device?");
		if(answer) {
			$.ajax({
				url:"/device/" + id,
				type: 'DELETE',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	// Place restrictions here - i.e. StepVolume/ PlaybackControl can't go with ThermostatControl
	function checkCapability(check) {
		var scene = $('#SceneController').prop('checked');
		var power = $('#PowerController').prop('checked');
		var playback = $('#PlaybackController').prop('checked');
		var stepSpeaker = $('#StepSpeaker').prop('checked');

		// Add else if here with restrictions
		if (scene && power || scene && playback || scene && stepSpeaker) {
			alert("Activity/ Scene selected, this must be the only capability!");
			$('#PowerController').prop('checked', false);
			$('#PlaybackController').prop('checked', false);
			$('#StepSpeaker').prop('checked', false);
			return false;
		}
		else {
			if (scene) {
				$('#ACTIVITY_TRIGGER').prop('checked', true);
				$('#SWITCH').prop('checked', false);
				$('#TV').prop('checked', false);
				$('#SPEAKER').prop('checked', false);
			}
			if (power) {
				$('#ACTIVITY_TRIGGER').prop('checked', false);
				$('#SWITCH').prop('checked', true);
				$('#TV').prop('checked', false);
				$('#SPEAKER').prop('checked', false);
			}
			else if (stepSpeaker) {
				$('#ACTIVITY_TRIGGER').prop('checked', false);
				$('#SWITCH').prop('checked', false)
				$('#TV').prop('checked', false)
				$('#SPEAKER').prop('checked', true)
			}
			else if (playback) {
				$('#ACTIVITY_TRIGGER').prop('checked', false);
				$('#SWITCH').prop('checked', false)
				$('#TV').prop('checked', true)
				$('#SPEAKER').prop('checked', false)
			}
			else {
				$('#ACTIVITY_TRIGGER').prop('checked', false);
				$('#SWITCH').prop('checked', false)
				$('#TV').prop('checked', false)
				$('#SPEAKER').prop('checked', false)
				return false;
			}
		}
	}

	var devices = {};
	<%- JSON.stringify(devices) %>.forEach(function(device){
		devices[device._id] = device;
	});
	</script>
<% include ../fragments/footer.ejs %>