<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1 class="h3 mb-3 font-weight-normal">Connect with <%= application.title %></h1>
    <form action="/auth/finish" method="post">
        <input name="transaction_id" value="<%= transaction_id %>" hidden>
        <input name="response_type" value="<%= response_type %>" hidden>
        <input name="client_id" value="<%= application.oauth_id %>" hidden>
        <input name="auth_url" value="<%= decodeURIComponent(currentURL) %>" hidden>
        <input name="scope" value="<%= scope.join(',') %>" hidden>
        <div>
            <p>To use this skill you need to:</p>
            <ul class="list-unstyled">
                <li><img class="octicon octicon-shield" src="/octicons/shield.svg"></img> Create an <a href='/newuser'> account.</a></li>
                <li><img class="octicon octicon-checklist" src="/octicons/checklist.svg"></img> Define one or more <a href='/newuser'>devices.</a></li>
                <li><img class="octicon octicon-repo-forked" src="/octicons/repo-forked.svg"></img> Setup Node-RED flows using your devices.</li>
            </ul>
            <p><%= application.title %> requires permission to:</p>
            <ul>
                <% scope.forEach(function(i){ %>
                    <li><%= map[i] %></li>
                <% });%>
            </ul>
            <% if (user) { %>
                <p>Click <em>Authorise</em> to allow <%= application.title %> access to control your devices.</p>
            <% } else { %>
                <p>Please sign-in using your Node-RED Smart Home Control account in order to allow <%= application.title %> access to control your devices.</p>
            <% } %>
        <div>

        <% if (user) { %>
            <% if (errors) { %>
              <p style="color: red"><%= errors %></p>
            <% } %>
            <div class="form-group">
                <p>Signed in as <strong><%= user.name%></strong>.</p>
                <a href="/logout?next=<%= currentURL %>">Not </a><%= user.username %>?
                <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Authorise">
            </div>
        <% } else { %>
            <% if (errors) { %>
              <p style="color: red"><%= errors %></p>
            <% } %>
            <div class="form-group">
                <!-- <label for="username">Username: </label>
                <input type="text" id="username" name="username"/>-->
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" autocomplete="username" placeholder="Username" required autofocus>
            </div>
            <div>
               <!--<label for="password">Password: </label>
                <input type="password" id="password" name="password">-->
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
            </div>
            <div>
                <br>
                <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Authorise">
            </div>
        <% } %>

    </form>
  </div>
<% include ../fragments/footer.ejs %>