<% include ../fragments/header.ejs %>
	<div class="container main-content">
		<h1>User Accounts</h1>
		<div class="row">
			<div class="col-sm"><strong>Username</strong></div>
			<div class="col-sm"><strong>EMail Address</strong></div>
			<div class="col-sm"><strong>Country</strong></div>
			<div class="col-sm"><strong>Region</strong></div>
			<div class="col-sm"><strong>Device Count</strong></div>
		</div>
		<% account.forEach(function(account){ %>
		<div class="devrow">
			<div class="row">
				<div class="col-sm"><%= account.username %></div>
				<div class="col-sm"><%= account.email %></div>
				<div class="col-sm"><%= account.country %></div>
				<div class="col-sm"><%= account.region %></div>
				<div class="col-sm"><%= account.username %></div>
			</div>
			<div class="row" style="padding-left: 15px">
				<div>
					<button type="button" class="btn btn-secondary" onclick="edit('<%= account.username %>')">Edit</button>
					<button type="button" class="btn btn-secondary" onclick="deleteUser('<%= account.username %>')">Delete</button>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
	<script>
			
	function saveDevice() {
	}
	
	function edit(id) {
		// Clear
		// If modal, re-populate fields
	}

	function deleteUser(username) {
		var answer = confirm("Are you sure you want to delete this device?");
		if(answer) {
			// Dlete the user account
		}
	}

	var users = {};
	<%- JSON.stringify(users) %>.forEach(function(user){
		users[user.username] = user;
	});
	</script>
<% include ../fragments/footer.ejs %>